*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
}
@font-face {
   font-family: "Kumbh Sans";
   src: url("../fonts/inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkcyan;
    &__title{
        font-size: large;
    }
}

